<ion-modal-view>

  <ion-header-bar class="bar bar-header bar-positive">
    <div class="h1 title">Plan my studytime</div>
    <button class="button button-icon icon ion-ios-close-empty" ng-click="closeModal()"></button>
  </ion-header-bar>
  <ion-content>

    <div class="list">
      <label class="item item-floating-label">
        <h2>Lecture:</h2>
        <p>{{modal.Course.name}}</p>
      </label>
      <label class="item item-floating-label">
        <h2>Lecture starts at:</h2>
        <p>{{modal.Lecture.start}}</p>
      </label>
      <label class="item item-floating-label">
        <h2>{{modal.Syllabus.type.capitalizeFirstLetter()}} title:</h2>
        <p>{{modal.Syllabus.title}}</p>
      </label>
      <label class="item item-floating-label">
        <h2>Length:</h2>
        <p>{{modal.Syllabus.pageCount}} pages (p. {{modal.Syllabus.startPage}} - {{modal.Syllabus.endPage}})</p>
      </label>
      <label class="item item-floating-label item-icon-right"">
        <h2>Has been read:</h2>
        <i ng-if="modal.Syllabus.isRead" class="icon ion-checkmark-circled" style="color:#11A711"></i>
        <i ng-if="!modal.Syllabus.isRead" class="icon ion-close-circled" style="color:#C53030"></i>
      </label>
      <label class="item item-floating-label item-icon-right" ng-if="!modal.Syllabus.isRead">
        <h2>Has been planned:</h2>
        <i ng-if="modal.Syllabus.hasBeenPlanned" class="icon ion-checkmark-circled" style="color:#11A711"></i>
        <i ng-if="!modal.Syllabus.hasBeenPlanned" class="icon ion-close-circled" style="color:#C53030"></i>
      </label>

      <label class="item" ng-if="!modal.Syllabus.hasBeenPlanned && !modal.Syllabus.isRead">
        <button
          class="button button-block button-balanced">
          Plan this {{modal.Syllabus.type.capitalizeFirstLetter()}}
        </button>
      </label>

    </div>

  </ion-content>

</ion-modal-view>
