<ion-view class="theme-dark" view-title="Forecast">

  <!--<img ng-src="/img/readme-logo-small-fade.png" height="100%">-->

  <ion-content>
    <div class="list card">
      <div class="item item-body">
        <div class="text-center">
          What to read? When to read it?
          <br>
          Let Readme tell you in seconds!
        </div>
        <br>
        <div class="text-center">
          This forecast will look <b>7 days</b> ahead
        </div>
      </div>
    </div>
  </ion-content>

  <ion-content class="forecast-button">
      <div>
        <button class="button button-large button-positive">
          Forecast now!
        </button>
      </div>
  </ion-content>

</ion-view>
