<ion-tabs class="tabs-icon-top tabs-background-dark tabs-color-light">

  <!-- Studyplan Tab -->
  <ion-tab title="Studyplan" icon-off="ion-ios-book" icon-on="ion-ios-book" href="#/tab/study">
    <ion-nav-view name="tab-study"></ion-nav-view>
  </ion-tab>

  <!-- Statistics Tab -->
  <ion-tab title="Statistics" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/tab/stats">
    <ion-nav-view name="tab-stats"></ion-nav-view>
  </ion-tab>

  <!-- Forecast Tab -->
  <ion-tab title="Forecast" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/forecast">
    <ion-nav-view name="tab-forecast"></ion-nav-view>
  </ion-tab>

  <!-- Calendar Tab -->
  <ion-tab title="Calendar" icon-off="ion-ios-calendar" icon-on="ion-ios-calendar" href="#/tab/calendar">
    <ion-nav-view name="tab-calendar"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
